doctype html
head
  meta(charset='utf-8')
  title Wesite Dashboard
  link(rel='stylesheet' href='stylesheets/style.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
.header
  h1 Your Personal Dashboard
  form#addSite
    input#site(placeholder='Site:' name='site')
    br
    input#url(placeholder='URL:' name='url')
    br
    button#addButton(type='submit') Add Site
.diagonal-box
  .scrolling-wrapper.img_field
.end-note
  h1  Designed By:
  h2  Khanti Rindani
script(src='javascripts/clientScript.js')
