* {
    -webkit-transition: 0s !important;
    transition: 0s !important
}

*,
:after,
:before {
    box-sizing: border-box
}

body {
    color: white;
    background-color: #000;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10vh 10vw 20vh 10vw;
}
.header h1{
    flex: auto;
}
.header form {
    flex: auto;
    text-align: center;
}
.header input{
    min-width: 100px;
    margin-bottom: 5px;
    width: fit-content;
    border-radius: 0;
    height: 30px;
}
.header button {
    padding: 5px;
    background: white;
    box-shadow: -1rem 1rem 1rem rgba(0,0,0,0.3);
}

.header button:hover,
.header button:focus {
    background: lightgrey;
}

.header button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.header button:active {
    transform: scale(0.99);
}

.card {
    width: 500px;
    height: fit-content;
    background: #17141d;
    box-shadow: -1rem 0 3rem rgba(0, 0, 0, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    transition: .2s;
    clear: both;
    margin: 0;
    position: relative;
}

.card:not(:first-of-type){
    margin-left: -250px;
}

.card:hover {
    transform: translateY(-1rem);
    box-shadow: -2rem -2rem 5rem rgba(0, 0, 0, 0.8);
    scroll-behavior: smooth;
}

.card:hover~.card{
    transform: translateX(250px);
    box-shadow: 1rem 0 3rem rgba(0, 0, 0, 0.8);
}
.scrolling-wrapper{
    display: flex;
    overflow: scroll;
    transform: skewY(11deg);
    padding: 3rem 0 3rem 3rem;
}

.card h2, .card button {
    padding: 1rem;
}

img {
    width: 500px;
    height: auto;
}

a {
    color: lightgrey;
}

.diagonal-box {
    background-image: linear-gradient(45deg, #6303B1, #ff0099);
    transform: skewY(-11deg);
}

.end-note h1 {
    margin: 10rem 0 0 0;
    text-align: center;
}

.end-note h2 {
    margin: 0;
    text-align: center;
}

.delete i {
    font-size: 24px !important;
    color: lightgrey;
}

.delete {
    background: none !important;
    border: 0;
}

.delete i:hover {
    cursor: pointer;
    color: white;
    font-size: 30px !important;
}

@media (max-width:900px) {
    .header{
        text-align: center;
    }
}
@media (max-width:700px) {
    .card{
        height: auto;
        width: min-content;
    }
    .card:not(:first-of-type){
        margin-left: -10vw;
    }

    .card:hover~.card{
        transform: translateX(10vw);
        box-shadow: 1rem 0 3rem rgba(0, 0, 0, 0.8);
    }
    img {
        max-height: 30vh;
        width: 50vw;
    }
}
