* {
    -webkit-transition: 0s !important;
    transition: 0s !important
}

*,
:after,
:before {
    box-sizing: border-box
}

body {
    color: white;
    background-color: #000;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 6rem 6rem 10rem 6rem;
}

.header form {
    margin: 1rem;
    text-align: center;
}
.header input{
    min-width: 100px;
    width: fit-content;
    border-radius: 0;
    height: 30px;
    margin: 0.5rem;
}
.header button {
    margin: 0.5rem;
    padding: 5px;
    background: white;
    box-shadow: -1rem 1rem 1rem rgba(0,0,0,0.3);
}

.header button:hover,
.header button:focus {
    background: lightgrey;
}

.header button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.header button:active {
    transform: scale(0.99);
}

.container{
    transform: skewY(11deg);
    padding: 3rem 0 3rem 3rem;
    display: flex;
}
.control-area{
    display: flex;
}

.category-label{
    font-size: 2rem;
    text-transform: uppercase;
    transform: rotate(270deg);
    height: 40px;
    width: 400px;
    text-align: center;
    position: relative;
    left: 80px;
    bottom: -150px;
    margin-left: -150px;
    border-bottom: 5px solid orange;
}
.show-site{
    height: 400px;
    background: #17141d;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: -4rem;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.3);
}

.show-site:hover{
    background: grey;
}
.add-site-area{
    visibility: hidden;
    width: 15rem;
    background: #17141d;
    text-align: center;
    margin: auto;
    padding: 2rem;
}
.add-site-area input{
    width: 12rem;
}

.scrolling-wrapper{
    display: flex;
    overflow: scroll;
    margin-left: -12rem;
}

.card {
    width: 500px;
    height: 400px;
    background: #17141d;
    box-shadow: -1rem 0 3rem rgba(0, 0, 0, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    transition: .2s;
    clear: both;
    margin: 0;
    position: relative;
}

.card:not(:first-of-type){
    margin-left: -250px;
}

.card:hover {
    transform: translateY(-1rem);
    box-shadow: -2rem -2rem 5rem rgba(0, 0, 0, 0.8);
}

.card:hover~.card{
    transform: translateX(250px);
    box-shadow: 1rem 0 3rem rgba(0, 0, 0, 0.8);
}

.card h2, .card button {
    padding: 10px;
}

img {
    width: 500px;
    height: auto;
}

a {
    color: lightgrey;
}

.diagonal-box {
    background-image: linear-gradient(45deg, #6303B1, #ff0099);
    transform: skewY(-11deg);
}

.end-note h1 {
    margin: 10rem 0 0 0;
    text-align: center;
}

.end-note h2 {
    margin: 0;
    text-align: center;
}

.delete i {
    font-size: 24px !important;
    color: lightgrey;
}

.delete {
    background: none !important;
    border: 0;
}

.delete i:hover {
    cursor: pointer;
    color: white;
    font-size: 30px !important;
}
@media only screen and (max-width: 768px) {
    .header{
        margin: auto;
    }
    .container{
        padding: 1rem;
        margin: auto;
    }
    .category-label{
        font-size: 1.2rem;
        height: 10px;
        width: 0;
        line-height: 1.2rem;
        border: 5px solid orange;
        top:11rem;
    }
    .show-site{
        border-radius: 10px;
        margin-left: 1rem;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    }
    .add-site-area{
        width: 10rem;
        margin: auto;
        padding: 1rem;
    }
    .add-site-area input{
        width: 8rem;
    }

    .scrolling-wrapper{
        margin-left: -10rem;
    }

    .card {
        width: 250px;
        height: auto;
        box-shadow: -1rem 0 3rem rgba(0, 0, 0, 0.8);
    }

    .card:not(:first-of-type){
        margin-left: -100px;
    }
    .card:hover~.card{
        transform: translateX(100px);
    }
    .card h2, .card button {
        font-size: 1.2rem;
    }
    img {
        width: 250px;
    }
    .delete i {
        font-size: 16px !important;
    }
}
